
 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    list-style: none;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
} 

.btn{
    border-color: cadetblue;
    width: auto;
    height: 50px;
    color: #000;
    font-weight: 700;
    border-radius: 10px;
    margin: 25px;
    overflow: hidden;
    position: relative;
}
.btn::before{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent,
    #00fffc, transparent);
    transform: translateX(-100%);
    transition: 0.5s;
    position: absolute;
}
.btn-carga:hover{
    background: transparent;
    box-shadow: 0 0 20px 5px #4fbab8;
    color: #fff;
}
.btn-lista:hover{
    background: transparent;
    box-shadow: 0 0 20px 5px #4f8aba;
    color: #fff;
}
.btn-resumen:hover{
    background: transparent;
    box-shadow: 0 0 20px 5px #4fba71;
    color: #fff;
}

