/* index.css */
.contenedor {
  width: 100vw;
  max-width: 100%;
  overflow-x: auto; /* Para hacer desplazable en pantallas pequeñas */
  margin: 0;
  padding: 0;
}


h4 {
  padding: 20px;
}

.table {
  text-align: left;
  vertical-align: middle;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: right;
  
}

.btn {
  width: auto;
  height: 50px;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  margin: 25px;
  overflow: hidden;
  position: relative;
}


.btn-danger:hover {
  color: #9e0101;
  box-shadow: 0 0 15px 5px #9e0101;
}

th, td {
  text-align: center;
}

.resumen {
  max-height: 10em;
  max-width: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.resumen:hover{
  color: blue;
}

.botones-modal{
  
  display: flex;
}
@media (min-width: 1200px) {
  .contenedor {
    width: 95%;
  }
}