.contenedor{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedor input, select{
    background: transparent;
    border: none;
    border-bottom: 1px solid #5f52a8;
    margin-right: 1rem;
    text-align: center;
    width: fit-content;
}

h4{
    padding: 20px;
}
.btn{
    width: auto;
    height: 50px;
    color: #000;
    font-weight: 700;
    border-radius: 10px;
    margin: 25px;
    overflow: hidden;
    position: relative;
}
.btn-save:hover{
    background: transparent;
    box-shadow: 0 0 20px 5px #2bc25b;
    color: #fff;
}
