#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: #1d1c35;
  font-weight: bolder;
  background: #dadee6;
  background-image: url("../src/assets/img/logo-policia.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: soft-light;
  background-position: center top;
}
@media screen and (width>380px) {
  #root{
    background-position: 50% 15%;
  }
}

